@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.pad0{
	padding:0;
}
*{
	margin:0;
	padding:0;
}
.loader1{
	overflow:hidden;
	position:absolute;
	height:100%;
	width:100%;
	background-color:#16191e;
}
.loader1>.shake3{
	position:absolute;
	margin:auto;
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.loader1>div{
	height:74px;
	width:74px;
	border:15px solid #45475b;
	border-top-color:orange;
	position:absolute;
	top:153px;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	border-radius:50%;
	animation:spin 1.2s infinite linear;
	
}
@keyframes spin{
	100%{
		transform:rotate(360deg);
	}
}
.content1{
	display:none;
}
html{
	scroll-behavior: smooth;
}
.porto_main_header .header_top .btn{
	display: none;
}
.collapse:not(.show){
	display: block;
}
.porto_main_header{
	position:relative;
	float:left;
	width:100%;
	background: #66666614;
}
.porto_main_header .header_top ul{
	list-style:none;
	display: flex;
	align-items: center;
}
.porto_main_header .header_top ul a{
	text-decoration: none;
    color: black;
    margin-right: 33px;
    font-size: 15px;
    font-weight: 700;
    overflow: hidden;
}
.porto_main_header .header_top ul a i{
	border: 2px solid black;
    padding: 13px;
    border-radius: 50%;
    color: white;
    background-color: black;
    font-size: 24px;
    margin-left: 90px;
    float: right;
}
 .porto_main_header .header_top .menu{
	position:absolute;
	background-color:#262626;
	min-width:136px;
	z-index:1;
	display:none;
}
.porto_main_header .header_top .menu a{
	text-decoration: none;
    padding: 14px 35px;
    display: block;
    text-align: left;
    color: black;
    font-size: 13px;
    margin: 0;
    font-weight: 500;
    background-color: white;
    transition: 0.5s;
}
.porto_main_header .header_top li a:hover, .drop:hover .home1{
	color: white;
    opacity: 1;
}
.porto_main_header .header_top .drop .menu a:hover{
	color:orange;
}
.porto_main_header .header_top li .drop{
	display:inline-block;
}
.porto_main_header .header_top .menu a:hover{
	color: orange;
    background-color: white;
}
.porto_main_header .header_top .drop:hover .menu{
	display:block;
	border-top: 2px solid orange;
}
.portfolio_banner{
	position: relative;
    width: 100%;
    float: left;
    background: url(../image/about-banner.jpg) no-repeat center center;
    background-size: cover;
    margin-top: -95px;
    z-index: -1;
}
.portfolio_banner .banner_content{
	text-align:center;
	margin-top: 18%;
    margin-bottom: 8%;
}
.portfolio_banner .banner_content p a{
	text-decoration:none;
	color:black;
	
}
.portfolio_banner .banner_content p .arrow{
	color:#7a7575;
	margin-left: 5px;
    margin-right: 5px;
}
.section_map{
	position:relative;
	width:100%;
	float:left;
}
.section_map .map_frame iframe{
	filter:invert(100%);
}
.section_information{
	position: relative;
    width: 100%;
    float: left;
    background: url(../image/pattren1.jpg) no-repeat;
    background-position: right center;
    overflow: hidden;
    margin-top: -6px;
	padding-bottom: 62px;
}
.section_information .info_bg{
	position:absolute;
	right:0;
}
.section_information .info_content{
	margin-top: 100px;
}
.section_information .info_content h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 2;
}
.section_information .info_content p {
    font-size: 16px;
    color: #999;
    font-weight: 600;
    line-height: 24px;
}
.section_information .info_content ul li a {
    text-decoration: none;
    color: #7a7777;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
    transition: 0.4s;
}
.section_information .info_content ul li {
    margin-right: 12px;
}
.section_information .info_content ul {
    list-style: none;
    display: flex;
    margin-left: -9px;
}
.section_information .bg_image{
	background:url(../image/pattren1.jpg);
	background-position: center;
    left: 40%;
    width: 60%;
}
.section_information .info_forms{
	margin-top: 100px;
    float: right;
}
.section_information .info_forms input {
    margin-bottom: 24px;
    width: 248px;
    border-radius: 50px;
    padding: 11px;
    padding-left: 23px;
    border: 1px solid #fff;
    outline: none;
}
.section_information .info_forms textarea {
    width: 500px;
    height: 172px;
    outline: none;
    border-radius: 12px;
    resize: none;
    padding: 17px;
    border: 1px solid #fff;
}
.section_information .portfolio_btn_banner a{
	text-decoration: none;
    color: black;
    padding: 17px 41px;
    border-radius: 13px;
    background: white;
	transition:0.5s;
}
.section_information .portfolio_btn_banner a:hover{
	background-color:orange;
	color:white;
}
.portfolio_footer{
	position:relative;
	width:100%;
	float:left;
	background:#333333;
}
.portfolio_footer .footer_content{
	margin-top: 100px;
}
.portfolio_footer .footer_content p{
	color:#fff;
	opacity: 0.6;
	margin-top: 43px;
    margin-bottom: 43px;
	font-size: 17px;
}
.portfolio_footer .footer_content .insta .pad0{
	padding:0;
}
.portfolio_footer .footer_content .insta{
	margin-bottom: 41px;
}
.portfolio_footer .footer_content .insta .insta_img{
	border:1px solid black;
	border-radius: 6px 6px 6px 6px;
}
.portfolio_footer .footer_content .insta img{
	width:100%;
}
.portfolio_footer .footer_content .insta .insta_img .img_border{
	border-radius: 6px 0px 0px 6px;
}
.portfolio_footer .footer_content .insta .insta_img .img_border1{
	border-radius: 0px 6px 6px 0px;
}
.portfolio_footer .footer_content .link_para p{
	color:white;
	opacity:0.8;
	font-weight: 100;
}
.portfolio_footer .footer_content .link_para a{
	text-decoration:none;
	color:#fff;
}
.portfolio_footer .footer_content .link_para p .link{
	font-weight: 700;
}
.portfolio_footer .footer_content1{
	margin-top:100px;
}
.portfolio_footer .footer_content1 h3{
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	font-size: 19px;
	margin-left: 26px;
}
.portfolio_footer .footer_content1 .foot_img{
	padding-left: 27px;
}
.portfolio_footer .footer_content1 img{
	width:100%;
}
.portfolio_footer .footer_content1 .foot_heading h4{
	color: white;
    font-size: 16px;
}
.portfolio_footer .footer_content1 .foot_heading p{
	color: white;
	opacity:0.6;
}
.portfolio_footer .footer_content2{
	margin-top: 100px;
}
.portfolio_footer .footer_content2 h3 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}
.portfolio_footer .footer_content2 input{
	background-color: #414141;
    outline: none;
    border: 1px solid #414141;
    margin-top: 30px;
    padding: 16px;
    padding-left: 22px;
    width: 82%;
    border-radius: 3px;
}
.portfolio_footer .footer_content2 .btn_footer{
	margin-top: 43px;
}
.portfolio_footer .footer_content2 a{
	text-decoration: none;
    color: black;
    padding: 14px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: orange;
    border-radius: 5px;
	border:1px solid orange;
	transition:0.5s;
}
.portfolio_footer .footer_content2 a:hover{
	background-color:#fff;
}
.footer_main {
    position: relative;
    width: 100%;
    float: left;
    background-color: #262626;
    border-top: 1px solid black;
    padding-top: 30px;
    padding-bottom: 20px;
}
.footer_main p {
    color: #fff;
}
.footer_main .link {
    background-color: black;
    padding: 5px 12px;
    border-radius: 33px;
}
.footer_main .link a {
    text-decoration: none;
    color: #fff;
}
.footer_main .footer_list{
	float: right;
}
.footer_main .footer_list ul{
	display:flex;
	list-style:none;
}
.footer_main .footer_list ul li{
	margin-left: 32px;
}
.footer_main .footer_list ul li a{
	color:#fff;
	opacity:0.6;
	text-decoration:none;
	transition:0.5s;
}
.footer_main .footer_list ul li a:hover{
	opacity:1;
}
#scroll {
    position:fixed;
    right:50px;
    bottom:50px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#262626;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px;
	box-shadow: 0px 0px 10px 3px #ff9a0085;
	animation:jump 1s alternate infinite;
	transition: 3s;
	z-index: 9999;
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ff9b04f7;
}
@keyframes jump{
	0%{
		transform: translate3d(0, 0, 0);
	}
	100%{
		transform: translate3d(0, 50%, 0);
	}
}