@media screen and (min-width: 320px) and  (max-width: 575px){
	.section_grid .pad0 {
		overflow: hidden;
	}
	.porto_main_header .btn {
		color: #fff;
		position: absolute;
		right: 0px;
	}
	.porto_main_header .header_top .btn{
		display:unset;
	}
	.collapse:not(.show) {
		display: none;
	}
	.porto_main_header .header_top ul {
		display:block;
		text-align:center;
	}
	.porto_main_header .header_top ul li {
		margin-bottom: 9px;
	}
	.porto_main_header .header_top ul .drop .menu{
		position:relative;
		
	}
	.porto_main_header .header_top .menu a {
		text-align: center;
	}
	.porto_main_header .header_top ul a i {
		margin-left:unset;
		float: unset;
	}
	.porto_main_header .portfolio_banner h1 {
		font-size: 46px;
		text-align: center;
	    margin-top: 10%;
	}
	.porto_main_header .portfolio_banner p {
		line-height: 26px;
		font-size: 19px;
		text-align: center;
	}
	.porto_main_header .portfolio_banner .portfolio_btn_banner{
		max-width: 201px;
		margin: auto;
		position: relative;
		overflow: hidden;
	}
	.porto_main_header .portfolio_banner .portfolio_btn_banner a {
		padding: 20px 5px;
		padding-left: 26px;
		font-size: 12px;
		width: 100%;
		margin-bottom: 17px;
	}
	.porto_main_header .portfolio_banner .portfolio_btn_banner a:hover .porto_btn_icon {
		top: -61px;
		bottom: 78px;
	}
	.porto_main_header .portfolio_banner .portfolio_btn_banner .porto_btn_icon {
		position: absolute;
		right: 0;
		top: 0;
		left: 138px;
		font-size: 2px;
		bottom: 28px;
		padding: 19px 13px;
		
	}
	.section_about h3 {
		text-align: center;
		margin-top:unset;
		font-size: 16px;
	}
	.section_about h4 {
		font-size: 23px;
		margin-top: 9px;
		text-align: center;
		line-height: 36px;
	}
	.section_about p {
		font-size: 14px;
		margin-top: 15px;
		text-align: center;
	}
	.section_about .about_course {
		margin-top: 33px;
	}
	.section_about .about_course2 {
		margin-top:unset;
	}
	.section_about .portfolio_btn_banner a {
		padding: 20px 5px;
		padding-left: 26px;
		font-size: 15px;
		width: 100%;
		margin-bottom: 17px;
	}
	.section_about .about_content .portfolio_btn_banner{
		max-width: 201px;
		margin: auto;
		position: relative;
		overflow: hidden;
	}
	.section_about .portfolio_btn_banner .porto_btn_icon {
		position: absolute;
		right: 0;
		top: 0;
		left: 138px;
		font-size: 2px;
		bottom: 28px;
		padding: 19px 13px;
	}
	.section_about .about_content .portfolio_btn_banner a:hover .porto_btn_icon {
		top: -61px;
		bottom: 78px;
	}
	.section_product .product_content h1 {
		font-size: 23px;
		text-align: center;
	}
	.section_product .product_content .product_head {
		margin-top: 8%;
		margin-bottom:unset;
	}
	.section_grid .hover1 .content_hover {
		bottom: 8px;
		width: 70%;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.section_grid .hover1 .content_hover h5 {
		font-size: 15px;
	}
	.section_grid .hover1 .content_hover p {
		font-size: 15px;
	}
	.section_grid .hover1 .content_hover .hover_icon i {
		width: 45px;
		height: 45px;
		line-height: 44px;
		font-size: 20px;
	}
	.section_grid .hover2 .content_hover{
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.section_grid .hover3 .content_hover{
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.section_grid .hover4 .content_hover{
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.section_grid .hover5 .content_hover{
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.section_grid .hover6 .content_hover{
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.section_portfolio_work{
		background-position: 0 100%;
	}
	.section_portfolio_work .work_content h2 {
		line-height: 41px;
		text-align: center;
	}
	.section_about{
		background:unset;
	}
	.section_about .portfolio_btn_banner a {
		padding: 20px 5px;
		padding-left: 26px;
		font-size: 15px;
		width: 100%;
		margin-bottom: 17px;
	}
	.section_about .about_content .portfolio_btn_banner{
		max-width: 201px;
		margin: auto;
		position: relative;
		overflow: hidden;
	}
	.section_about .portfolio_btn_banner .porto_btn_icon {
		position: absolute;
		right: 0;
		top: 0;
		left: 138px;
		font-size: 2px;
		bottom: 28px;
		padding: 19px 13px;
	}
	.section_about .about_content .portfolio_btn_banner a:hover .porto_btn_icon {
		top: -61px;
		bottom: 78px;
	}
	.section_services .content {
		text-align: center;
	}
	.section_services .content h2 {
		font-size: 27px;
		line-height: 44px;
	}
	.section_services .service_menu .menu_box h2 {
		font-size: 18px;
	}
	.section_services .service_menu .menu_box p {
		font-size: 17px;
	}
	.section_product .product_content .product_head2{
		margin-top: 14%;
		margin-bottom: 12%;
	}
	.section_product .product_content .product_head2:before, .section_product .product_content .product_head2:after {
		right: 0;
		left: 0;
		top: 5px;
		bottom: 0;
		margin:auto;
		width: 22%;
		height: 50%;
	}
	.section_portfolio_work .work_content .portfolio_btn_banner a {
		padding: 1px 0px;
		padding-bottom: 10px;
		padding-left: 27px;
		width: 100%;
		margin-bottom: 17px;
	}
	.section_portfolio_work .btn_work {
		text-align: unset;
	}
	.section_portfolio_work .work_content .portfolio_btn_banner{
		max-width: 201px;
		margin: auto;
		position: relative;
		overflow: hidden;
	}
	.section_portfolio_work .portfolio_btn_banner .porto_btn_icon {
		position: absolute;
		right: 0;
		top: 0;
		left: 138px;
		font-size: 2px;
		bottom: 28px;
		padding: 19px 13px;
	}
	.section_portfolio_work .work_content .portfolio_btn_banner a:hover .porto_btn_icon {
		top: -61px;
		bottom: 78px;
	}
	.section_services .service_menu .menu_box {
		position: relative;
	}
	.section_services .service_menu .menu_box .porto_btn_icon1 {
		position: absolute;
		top: -7px;
		right: 0;
		bottom:unset;
	}
	.section_about_wrapper .wrapper_content h1 {
		text-align: center;
		font-size: 31px;
		line-height: 46px;
	}
	.section_about_wrapper .wrapper_content p {
		text-align: center;
	}
	.section_about_wrapper .wrapper_content .wrapper_para{
		text-align: center;
	}
	.section_about_wrapper .portfolio_btn_banner1{
		max-width: 201px;
		margin: auto;
		position: relative;
		overflow: hidden;
	}
	.section_about_wrapper .portfolio_btn_banner1 a {
		padding: 1px 5px;
		padding-left: 26px;
		padding-bottom: 15px;
		padding-left: 26px;
		width: 100%;
		margin-bottom: 17px;
	}
	.section_about_wrapper .portfolio_btn_banner1 .porto_btn_icon5 {
		position: absolute;
		right: 0;
		top: 0;
		left: 138px;
		font-size: 2px;
		bottom: 28px;
		padding: 19px 13px;
	}
	.section_about_wrapper .portfolio_btn_banner1 a:hover .porto_btn_icon5 {
		top: -61px;
		bottom: 78px;
	}
	.section_about_wrapper .portfolio_btn_banner1 a .porto_btn_icon5 i {
		margin-top: -10px;
	}
	.section_profile_slider .profile_content img{
		position:unset;
		min-width: 114px;
	}
	.section_profile_slider .profile_content p{
	    padding-top: 17px;
		padding-left:unset;
		font-size:11px;
	}
	.section_profile_slider .profile_content ul li .volume{
		width: 50px;
		top: 47%;
		right: unset;
	}
	.section_profile_slider .profile_content ul li .volume .volume_line{
		width: 65%;
	}
	.section_profile_slider .profile_content ul li .volume .volume_circle{
		left: 28px;
	}
	.section_profile_slider .profile_content .project_img{
		position: absolute;
		right: 43px;
	}
	.section_profile_slider .profile_content h3{
		font-size: 14px;
		padding-left:unset;
	}
	.section_profile_slider .profile_content h4{
	    font-size: 14px;
		padding-left:unset;
	}
	.section_profile_slider .profile_content ul{
	    margin-top: 37px;
		padding-left:unset;
	}
	.section_profile_slider .profile_content ul li{
		margin-right: 2px;
	}
	.section_counter .counter_content {
		margin-top: 17%;
		margin-bottom: 14%;
	}
	.section_news .news_content h5 {
		text-align:center;
	}
	.section_news .news_content h3 {
		text-align:center;
	}
	
	.section_news .news_img {
		width: 98%;
	}
	.section_news .news_img .news_image_content {
		width: 93%;
		text-align:center;
	}
	.section_information .info_forms input {
		width: 100%;
	}
	.section_information {
		background-position: bottom, top;
	}
	.section_information .info_forms textarea {
		width: 100%;
	}
	.section_information .info_forms {
		text-align: center;
	}
	.section_information .portfolio_btn_banner a {
		padding: 20px 5px;
		padding-left: 26px;
		font-size: 18px;
		width: 100%;
		margin-bottom: 17px;
	}
	.section_information .info_content {
		text-align: center;
	}
	.section_information .info_content .info_social {
		display: flex;
		justify-content: center;
	}
	.section_information .info_content ul{
		margin-left:unset;
	}
	.section_information .portfolio_btn_banner .porto_btn_icon {
		position: absolute;
		right: 0;
		top: 0;
		left: 129px;
		font-size: 2px;
		bottom: 28px;
		padding: 19px 13px;
	}
	.section_information .portfolio_btn_banner {
		max-width: 201px;
		margin: auto;
		position: relative;
		overflow: hidden;
	}
	.section_information .portfolio_btn_banner a:hover .porto_btn_icon {
		top: -61px;
		bottom: 91px;
	}
	.portfolio_footer .footer_content {
		text-align: center;
	}
	.portfolio_footer .footer_content .searchbar{
		position: relative;
	}
	.portfolio_footer .footer_content .portfolio_btn_banner {
		margin-left: unset;
		position: absolute;
		bottom: unset;
		left: unset;
		right: 0;
		top: -28px;
		overflow: hidden;
	}
	.portfolio_footer .footer_content .portfolio_btn_banner a {
		padding: 14px 59px;
		width: 100%;
		padding-left: 22px;
	}
	.portfolio_footer .footer_content .portfolio_btn_banner .porto_btn_icon {
		position: absolute;
		left:unset;
		right: 9px;
		bottom: 13px;
	}
	.portfolio_footer .footer_content input {
		position:unset;
	}
	.portfolio_footer .footer_content .portfolio_btn_banner a:hover .porto_btn_icon {
		bottom: 55px;
	}
	.portfolio_footer .footer_content ul li:before {
		bottom: 106px;
	}
	.footer_main p {
		font-size: 14px;
		line-height: 37px;
		text-align: center;
	}
}
@media screen and   (min-width: 576px) and  (max-width: 767px){
	.porto_main_header .btn {
		color: #fff;
		position: absolute;
		right: 0px;
	}
	.porto_main_header .header_top .btn{
		display:unset;
	}
	.collapse:not(.show) {
		display: none;
	}
	.porto_main_header .header_top ul {
		display:block;
		text-align:center;
		margin-top: 36px;
	}
	.porto_main_header .header_top ul li{
		margin-bottom: 15px;
	}
	.porto_main_header .header_top ul a {
		font-size: 18px;
	}
	.porto_main_header .header_top ul a i {
		margin-left:unset;
		float: unset;
	}
	.porto_main_header .portfolio_banner h1 {
		font-size: 77px;
		margin-top: 9%;
		text-align: center;
	}
	.porto_main_header .portfolio_banner p {
		text-align: center;
	}
	.porto_main_header .portfolio_banner .portfolio_btn_banner{
		text-align: -webkit-center;
	    margin-bottom: 20px;
	}
	.section_about h3 {
		margin-top:37px;
		text-align: center;
	}
	.section_about h4 {
		text-align: center;
	}
	.section_about p {
		text-align: center;
	}
	.section_about .portfolio_btn_banner{
		text-align: -webkit-center;
	}
	.section_about .portfolio_btn_banner a {
		width: 41%;
	}
	.section_product .product_content .product_head {
		margin-bottom: 0px;
	}
	.section_product .product_content h1 {
		text-align: center;
	}
	.section_product .product_content .product_head2 {
		margin-top:22px;
		margin-bottom: 39px;
	}
	.section_product .product_content .product_head2:before, .section_product .product_content .product_head2:after {
		left: 0px;
		right: 0;
		top: 0;
		bottom: 13px;
		margin: auto;
		width:15%;
		height:62%;
	}
	.section_portfolio_work .work_content h2 {
		text-align: center;
	}
	.section_portfolio_work .work_content h2 {
		text-align: center;
	}
	.section_portfolio_work .portfolio_btn_banner {
		position: relative;
		text-align: -webkit-center;
		overflow: hidden;
	}
	.section_portfolio_work .work_content .portfolio_btn_banner a {
		padding: 19px 7px;
		padding-left: 27px;
		width: 37%;
	}
	.section_portfolio_work .work_content .portfolio_btn_banner .porto_btn_icon {
		position: absolute;
		bottom: 21px;
		width:9%;
	    left: 295px;
	    
	}
	.section_portfolio_work .work_content .portfolio_btn_banner a:hover .porto_btn_icon {
		bottom: 68px;
	}
	.section_services .content {
		text-align: center;
	}
	.section_about_wrapper .wrapper_content h1 {
		text-align: center;
	}
	.section_about_wrapper .wrapper_content p {
		text-align: center;
	}
	.section_about_wrapper .wrapper_content .wrapper_para p {
		text-align: center;
	}
	.section_about_wrapper .portfolio_btn_banner1{
		position: relative;
		text-align: -webkit-center;
		overflow: hidden;
	}
	.section_about_wrapper .portfolio_btn_banner1 a {
		padding: 17px 7px;
		
	}
	.section_about_wrapper .portfolio_btn_banner1 .porto_btn_icon5 {
		position: absolute;
		left: 302px;
		bottom: 13px;
		right:unset;
		width: 10%;
	}
	.section_about {
		background-position: 119% 0px, 33px 24%, left 108%, 74% 62%, 46% 11%, 59% 100%, 96% 100%;
	}
	.section_about_wrapper .portfolio_btn_banner1 a:hover .porto_btn_icon5 {
		bottom: 61px;
	}	
	.section_counter .counter_content {
		margin-top: 6%;
		margin-bottom: 6%;
	}
	.section_news .news_content {
		text-align: center;
	}
	.section_news .news_img .news_image_content {
		width: 95%;
	}
	.section_information .info_content {
		padding-bottom: 195px;
	}
	.section_information {
		background-position: bottom, top;
	}
	.section_information .portfolio_btn_banner a {
		width: 44%;
		margin-bottom: 51px;
	}
	.portfolio_footer .footer_content {
		text-align: center;
	}
	.portfolio_footer .footer_content .searchbar {
		position: relative;
	}
	.portfolio_footer .footer_content .portfolio_btn_banner {
		position: absolute;
		right: 0;
	}
	.portfolio_footer .footer_content .portfolio_btn_banner .porto_btn_icon {
		left:unset;	
	}
	.portfolio_footer .footer_content input {
		position:unset;
	}
	.footer_main p {
		line-height: 3;
		font-size: 14px;
	}
	.portfolio_footer .footer_content .footer_insta .image_radius2 {
		border-radius: 0px 0px 0px 0px;
	}
	.section_grid .pad0{
		overflow: hidden;
	}
}
@media screen and   (min-width: 768px) and  (max-width: 991px){
	.porto_main_header .header_top .btn{
		display:none;
	}
	.porto_main_header .btn {
		color: #fff;
		position: absolute;
		right: 0px;
	}
	.porto_main_header .header_top .btn{
		display:unset;
	}
	.collapse:not(.show) {
		display: none;
	}
	.porto_main_header .header_top ul {
		display:block;
		text-align:center;
		margin-top: 36px;
	}
	.porto_main_header .header_top ul li{
		margin-bottom: 15px;
	}
	.porto_main_header .header_top ul a {
		font-size: 18px;
	}
	.porto_main_header .header_top .menu a{
		font-size: 12px;
	}
	.porto_main_header .header_top ul a i {
		margin-left:unset;
		float: unset;
	}
	.porto_main_header .portfolio_banner h1 {
		font-size: 57px;
	}
	.porto_main_header .portfolio_banner p {
		font-size: 20px;
		word-spacing: 1px;
	}
	.porto_main_header .portfolio_banner .portfolio_btn_banner{
		position: relative;
		overflow: hidden;
	}
	.porto_main_header .portfolio_banner .portfolio_btn_banner a {
		padding: 21px 7px;
		padding-left: 20px;
		width: 54%;
	}
	.porto_main_header .portfolio_banner .portfolio_btn_banner .porto_btn_icon {
		position: absolute;
		left: 125px;
		bottom: 24px;
		width: 13%;
	}
	.porto_main_header .header_top .drop:hover .menu {
		z-index: 1;
		position: relative;
	}
	.porto_main_header .header_top .menu a {
		text-align:center;
	}
	.section_about{
		background:unset;	
	}
	.section_about h3 {
		margin-top:unset;
	}
	.section_about h4 {
		font-size: 29px;
		margin-top: 13px;
	}
	.section_about .portfolio_btn_banner a {
		width: 63%;
	}
	.section_about .about_course p {
		font-size: 13px;
	}
	.section_about .about_course2 p {
		font-size: 13px;
	}
	.section_product .product_content h1 {
		font-size: 22px;
	}
	
	.section_product .product_content .product_head2:before, .section_product .product_content .product_head2:after {
		left: 116px;
		top: 79px;
		width: 23%;
		height: 34%;
	}
	.section_portfolio_work {
		background-position: 0% 100%;
	}
	.section_portfolio_work .work_content .first {
		font-size: 16px;
	}
	.section_portfolio_work .work_content h2 {
		line-height: 37px;
		font-size: 25px;
	}
	.section_portfolio_work .work_content .portfolio_btn_banner a {
		width: 56%;
	}
	.section_grid .hover2 .content_hover {
		width: 74%;
	}
	.section_grid .hover2 .content_hover h5 {
		font-size: 15px;
	}
	.section_grid .hover2 .content_hover p {
		font-size: 14px;
	}
	.section_grid .hover3 .content_hover {
		width: 82%;
	}
	.section_grid .hover3 .content_hover h5 {
		font-size: 16px;
	}
	.section_grid .hover3 .content_hover p {
		font-size: 15px;
	}
	.section_grid .hover3 .content_hover .hover_icon i {
		width: 42px;
		line-height: 43px;
		height: 42px;
	}
	.section_grid .hover4 .content_hover {
		width: 82%;
	}
	.section_grid .hover4 .content_hover h5 {
		font-size: 16px;
	}
	.section_grid .hover4 .content_hover p {
		font-size: 15px;
	}
	.section_grid .hover4 .content_hover .hover_icon i {
		width: 42px;
		line-height: 43px;
		height: 42px;
	}
	.section_grid .hover5 .content_hover {
		width: 74%;
	}
	.section_grid .hover5 .content_hover h5 {
		font-size: 16px;
	}
	.section_grid .hover5 .content_hover p {
		font-size: 15px;
	}
	.section_grid .hover5 .content_hover .hover_icon i {
		width: 42px;
		line-height: 43px;
		height: 42px;
	}
	.section_grid .hover6 .content_hover {
		width: 74%;
	}
	.section_grid .hover6 .content_hover h5 {
		font-size: 16px;
	}
	.section_grid .hover6 .content_hover p {
		font-size: 15px;
	}
	.section_grid .hover6 .content_hover .hover_icon i {
		width: 42px;
		line-height: 43px;
		height: 42px;
	}
	.section_services .content h2 {
		font-size: 28px;
		line-height: 43px;
	}
	.section_about_wrapper .wrapper_content h1 {
		font-size: 26px;
		line-height: 42px;
	}
	.section_about_wrapper .wrapper_content p {
		margin: 21px 0px;
	}
	.section_about_wrapper .wrapper_content .wrapper_para p:before {
		margin-top: 16px;
	}
	.section_about_wrapper .portfolio_btn_banner1 a {
		width: 69%;
	}
	.section_profile_slider .profile_content ul li .volume .volume_line{
		width:51%;
		right: 8px;
	}
	.section_counter .counter_content{
		margin-top:5%;
		margin-bottom:10%;
	}
	.section_information .info_forms input {
		width: 100%;
	}
	.section_information .info_forms textarea {
		width: 100%;
	}
	.section_information .info_content h3 {
	    color: #fff;
	}
	.section_information .portfolio_btn_banner a {
	    width: 66%;
		margin-bottom: 39px;
	}
	.section_information {
		background: url(../image/round.jpg) no-repeat, unset;
		background-position: right top, unset;
		background-size: cover;
	}
	.portfolio_footer .footer_content .portfolio_btn_banner a {
		padding-left: 17px;
	}
	.portfolio_footer .footer_content p {
		font-size: 13px;
	}
	.portfolio_footer .footer_content ul li:before {
		height: 220px;
	}
}
@media screen and   (min-width: 992px) and  (max-width: 1199px){
	.porto_main_header .header_top .btn{
		display:none;
	}
	.btn:not(:disabled):not(.disabled) {
		display:none;
	}
	.porto_main_header .header_top ul a {
		font-size: 11px;
	}
	.porto_main_header .portfolio_banner .portfolio_btn_banner a {
		width: 47%;
	}
	.porto_main_header .header_top ul a i{
		margin-left:unset;
	}
	.section_about .portfolio_btn_banner a {
		width: 47%;
	}
	.section_about {
		background-position: 119% 0px, 23px 45%, left 108%, 79% 67%, 46% 11%, 59% 100%, 96% 100%;
	}
	.section_product .product_content .product_head2:before, .section_product .product_content .product_head2:after {
		left: 159px;
		top: 99px;
	}
	.section_portfolio_work .work_content .portfolio_btn_banner a {
	    width: 41%;
	}
	.section_grid .hover2 .content_hover .hover_icon i {
		width: 35px;
		height: 38px;
		line-height: 38px;
		font-size: 19px;
	}
	.section_grid .hover3 .content_hover .hover_icon i {
		width: 35px;
		height: 38px;
		line-height: 38px;
		font-size: 19px;
	}
	.section_grid .hover4 .content_hover .hover_icon i {
		width: 35px;
		height: 38px;
		line-height: 38px;
		font-size: 19px;
	}
	.section_grid .hover5 .content_hover .hover_icon i{
		width: 35px;
		height: 38px;
		line-height: 38px;
		font-size: 19px;
	}
	.section_grid .hover6 .content_hover .hover_icon i {
		width: 35px;
		height: 38px;
		line-height: 38px;
		font-size: 19px;
	}
	.section_services .service_menu .menu_box .porto_btn_icon1 {
		bottom: 183px;
	}
	.section_services .service_menu .menu_box .porto_btn_icon1 i{
		padding-left: 14px;
	}
	.section_services .service_menu .menu_box h2 {
		font-size: 19px;
	}
	.section_about_wrapper .portfolio_btn_banner1 a {
		width: 50%;
	}
	.section_profile_slider .profile_content .project_img{
		position: absolute;
		right: 42px;
		top: -9px;
	}
	.section_profile_slider .profile_content img{
		/* width:unset; */
		min-width:120px;
		position:unset;
	}
	.section_profile_slider .profile_content ul li{
		margin-right:2px;
	}
	.section_profile_slider .profile_content ul li .volume{
	    width: 50px;
		top: 47%;
		left: 142px;
	}
	.section_profile_slider .profile_content ul li .volume .volume_line{
	    width: 66%;
	}
	.section_profile_slider .profile_content ul li .volume .volume_circle{
		left: 29px;
	}
	.section_profile_slider .profile_content ul{
		padding-left:unset;
	}
	.section_profile_slider .profile_content h3{
		padding-left:unset;
		font-size: 16px;
	}
	.section_profile_slider .profile_content h4{
		font-size: 12px;
		padding-left:unset;
	}
	.section_profile_slider .profile_content p{
		padding-left:unset;
		font-size:12px;
	}
	.section_information{
		background: url(../image/round.jpg) no-repeat, unset;
		background-position: right top, unset;
		background-size:cover;
	}
	.section_information .info_content h3{
		color:#fff;
	}
	.section_information .portfolio_btn_banner a{
		width:43%;
	}
	.portfolio_footer .footer_content ul li:before{
		height: 202px;
	}
}
@media screen and   (min-width: 1200px) and  (max-width: 1440px){
	.section_about .portfolio_btn_banner a{
		width:39%;
	}
	.section_portfolio_work .work_content .portfolio_btn_banner a{
		width:34%;
	}
	.section_about_wrapper .portfolio_btn_banner1 a{
		width:42%;
	}
	.section_information .portfolio_btn_banner a{
		width:34%;
	}
}
@media screen and   (min-width: 1441px) and  (max-width: 2560px){
	.section_information{
		background-position: 66% 100%, 29% 78%;
	}
}